/* Wizard */
.wizard a:hover {
    text-decoration: none;
}

.wizard .audible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wizard .steps>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.wizard .steps>ul li {
    width: calc(100% / 7);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 767px) {
    .wizard .steps>ul li a {
        padding: 15px 10px;
    }
}

@media (max-width: 767px) {
    .wizard .steps>ul li a .media {
        display: block;
    }
}

.wizard .steps>ul li .bd-wizard-step-icon i {
    font-size: 30px;
}

@media (max-width: 767px) {
    .wizard .steps>ul li .bd-wizard-step-icon {
        margin: 0 auto;
    }
}

.wizard .steps>ul li .bd-wizard-step-subtitle {
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    color: #a1a5b7;
}

@media (max-width: 767px) {
    .wizard .steps>ul li .bd-wizard-step-subtitle {
        display: none;
    }
}

.current {
    background-color: white !important;
}

.wizard .steps>ul li.current .bd-wizard-step-icon,
.wizard .steps>ul li.done .bd-wizard-step-icon {
    color: #fff;
}

.current .bd-wizard-step-title {
    font-weight: 500;
    font-size: 12px;
}

.current .bd-wizard-step-title,
.current .bd-wizard-step-icon i {
    color: white !important;
}
li.current {
    background: linear-gradient(to right top, #051937, #062149, #0a295c, #12306f, #1d3883) !important;
    color: white !important;
}

/* li.current {
    border:1px solid lightgray;
    border-bottom: 0px !important;
}
.current,
.current .media {
    background-color: #fff;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
} */

.wizard .content {
    background-color: #fff;
}

@media (max-width: 767px) {
    .wizard .content {
        padding-left: 20px;
        padding-right: 20px;
        min-height: auto;
    }
}

.wizard .content .title {
    display: none;
}

.wizard .content .content-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.wizard .content .section-heading {
    font-weight: bold;
    color: #030303;
    margin-bottom: 22px;
}

.wizard .content p {
    font-size: 16px;
    color: #030303;
}

.wizard .content .form-control {
    border-radius: 4px;
    border: solid 1px #ececec;
}

.wizard .content .form-control::-webkit-input-placeholder {
    color: #919aa3;
}

.wizard .content .form-control::-moz-placeholder {
    color: #919aa3;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e4e6ef !important;
}

.wizard .content .form-control:-ms-input-placeholder {
    color: #919aa3;
}

.wizard .content .form-control::-ms-input-placeholder {
    color: #919aa3;
}

.wizard .content .form-control::placeholder {
    color: #919aa3;
}

.wizard .steps>ul,
.wizard .steps>ul li {
    background: white;
}

.wizard .actions {
    padding: 0 35px 35px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .wizard .actions {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wizard .actions>ul {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f4;
}

.wizard .actions li a {
    display: inline-block;
    background-color: #1d3883;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.wizard .actions li.disabled {
    display: none;
}

.wizard .actions li:not(.disabled)+li,
.wizard .actions li:not(:first-child):last-child {
    margin-left: 15px;
}

/*# sourceMappingURL=bd-wizard.css.map */
/* .steps {
    position: relative;
    bottom: -11px;
    background: white;
} */
.wizard-section section {
    padding-top: 40px;
    padding: 20px;
    background: white;
    overflow: hidden;
}

.header-fixed.toolbar-fixed .wrapper,
.content {
    background: white;
}

.wizard-section {
    overflow: hidden;
}

.wizard .select2 {
    width: 100% !important;
}

.wizard .select2-selection--single,
.wizard .content .form-control,
.wizard .content .form-select {
    min-height: 15px !important;
    height: 25px !important;
    border-radius: 4px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
}

.wizard .steps>ul li {
    position: relative;
    bottom: -1px;
    background: #e6e8ea;
}

.input-label {
    font-size: 11px;
    display: block;
}

.form-input::placeholder {
    font-size: 12px !important;
}
.form-input[type=file]{
    padding:  0 !important;
}
.form-input {
    border: solid 1px #c0c0c094;
    outline: none;
    width: 100%;
    font-size: 12px !important;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1 !important;
}
.form-input:active {
    border: solid 1px black !important;
}
.form-input:focus {
    border: solid 1px royalblue !important;
}
.form-input.border-danger {
    border: solid 1px #F1416C  !important;
}